body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
  }
  .controls {
    margin: 20px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    width: 300px;
    display: inline-block;
    border: solid blue;
  }
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
  }

  .controls label {
    padding: 10px;
    margin: 18px;
    font-size: 25px;
  }
  .controls select {
    padding: 10px;
    font-size: 25px;
    margin: 18px;
  }

  .categoryContainer{
    width: 300px; /* Adjust the width */
    height: 50px; /* Adjust the height */
    font-size: 25px; /* Adjust the font size */
    padding: 5px; /* Add padding for better spacing */
    border-radius: 5px; /* Optional: Add rounded corners */
    border: 2px solid #333; /* Optional: Add a border */

  }

  .answer-box{
    font-size: 25px;
    color: rgba(255, 0, 0, 0.879);
    font-family:   monospace;
    font-weight: bold;
    border: 2px solid red;

  }

  .player-management input,
  .category-management input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
  }

  .player-management button,
  .category-management button {
    padding: 10px 15px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
  }

  .player-management,
  .category-management {
    margin-bottom: 20px;
  }
  
  
