body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
  }
  .controls {
    margin: 20px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    width: 300px;
    display: inline-block;
    border: solid blue;
  }
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .categoryContainer{
    width: 300px; /* Adjust the width */
    height: 50px; /* Adjust the height */
    font-size: 18px; /* Adjust the font size */
    padding: 5px; /* Add padding for better spacing */
    border-radius: 5px; /* Optional: Add rounded corners */
    border: 2px solid #333; /* Optional: Add a border */

  }