body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Allows vertical stacking */
  min-height: 100vh; /* Ensures the body takes the full viewport height */
  background-color: #F0F8FF;
  align-items: center;
  justify-content: center;
  background-image: url('./images/christmasImage.jpg'); /* Path to your background image */
  background-size: cover;       /* Ensures the image covers the entire page */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
                /* Optional: Sets text color to contrast with the background */
}

main {
  flex-grow: 1; /* Pushes the timers container to the bottom */
  display: flex;
  align-items: flex-end; /* Aligns the container at the bottom */
  justify-content: center; /* Centers the container horizontally */
  width: 100%;
}

.timers-container {
  display: flex;
  justify-content: center;
  gap: 2px; /* Space between timers */
  border: 5px solid rgba(245, 245, 245, 0.874);
  align-items: center; /* Aligns the timers vertically */
  border-radius: 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  color: rgba(245, 245, 245, 0.874);
}
.image-container {
  margin-top: 20px;
  text-align: center;
}

img {
  width: 1000px;
  height: 520px;
  object-fit: cover;
  border: 2px solid #333;
  border-radius: 10px;

}
.timer1 {
  border-radius: 0px;
  border-right: solid 5px rgba(245, 245, 245, 0.874);
  width: 100%;
  text-align: center;
  
}
.timer2 {
  border-left: solid 5px rgba(245, 245, 245, 0.874);
  border-radius: 0px;
  width: 100%;
  text-align: center;
 
}

.display {
  font-size: 150px;
  font-weight: bold;
  margin: 20px auto;
  padding: 5px;
  width: 90%;
  height: 70%;
  line-height: 90%;
  text-align: center;
  border-radius: 10px;
}

.answer-box {
  margin-top: 30px;
  padding: 5px;
  width: 70%;
  border: solid 5px rgba(245, 245, 245, 0.874);
  border-radius: 2px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.answer-box p {
  margin: 0;
  font-size: 90px;
  color: rgba(245, 245, 245, 0.874);
}

.countdownDisplay-box {
  padding: 1px;
  width: 50%;
  text-align: center;
  font-size: 400px;
  color: rgba(238, 39, 55, 0.874);
  font-family: 'Times New Roman';
 
}

/* Keyframes for the animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Style for the animated image */
.animated-image {
  display: block;
  margin: 20px auto;
  width: 100px;
  height: 100px;
  animation: pulse 2s infinite;
}

/* Hidden state for the image */
.hidden {
  display: none;
}

