/* General Styles */
body {
    font-family:cursive;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Allows vertical stacking */
    min-height: 100vh; /* Ensures the body takes the full viewport height */
    background-color: #F0F8FF;
    align-items: center;
    justify-content: center;
    background-image: url('./images/christmasImage.jpg'); /* Path to your background image */
    background-size: cover;       /* Ensures the image covers the entire page */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
  }
  h1 {
    font-family: sans-serif;
    font-size: 36px;
    color: rgba(238, 192, 39, 0.9);
    text-shadow: rgb(255, 0, 38,0.6) 1px 0 10px;
   
  }
  
  /* Management Controls */
  .player-management,
  .category-management {
    margin-bottom: 10px;
  }
  
  /* Randomizer Containers */
  .randomizer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
  }
  
  /* Shared Box Styles */
  .player-box,
  .category-box {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-weight: bold;
    color: rgb(255, 242, 205);
    text-shadow:  rgba(238, 192, 39, 0.6) 1px 0 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: calc(1rem + 1vw);
    font-size: 25px;
  }
  
  .player-box.highlight,
  .category-box.highlight {
    background-color: rgba(237, 215, 50);
    transform: scale(1.2);
  }
  
  .animated-image{
    border-radius: 50%;
    margin: left 10px;
    animation: pulse 2s infinite;
    opacity: 0.7;
  
  }

  /* Keyframes for the animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
  